bases:
- ../../base
patchesStrategicMerge:
- dc-app.yaml
- dc-db.yaml
patchesJson6902:
- target:
    group: apps
    version: v1
    kind: DeploymentConfig
    name: rails-pgsql-persistent
  path: patch.yaml