bases:
- ../../base
patchesStrategicMerge:
- dc-app.yaml
- dc-db.yaml
patches:
- path: patch.yaml
  target:
    group: apps.openshift.io
    version: v1
    kind: DeploymentConfig
    mespace: gokhantst
    name: rails-pgsql-persistent
